.mainTitle {
  color: rgb(56, 54, 51);
  text-align: left;
  text-transform: capitalize;
}

.card-container {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  text-align: left;
}

.card-container > div {
  flex: 0 0 250px;
  height: 450px;
  margin-right: 10px; /* Add some margin between cards */
  scroll-snap-align: start;
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
}

.card-img-top {
  object-fit: scale-down;
  width: 100%;
  height: 50%; /* Adjust image height */
}

.learn-more-btn {
  position: absolute;
  bottom: 10px; /* Adjust as needed */
  left: 10px; /* Adjust as needed */
}
